body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Ubuntu", sans-serif;
  background-color: var(--primaryDIVI);
}

:root {
  font-size: 62.5%;

  --primaryDIVI: #350b4b;
  --secundaryDIVI: #f89e2c;
  --hoverSecundaryDIVI: #e8a726;
  --textPrimaryDIVI: #ffff;
  --textPlaceholder: #c1c9c8;
}

/* Scroll da página */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f89e2c;
  border-radius: 0.8rem;
}

/* Retirada das setas de numeração do inprut */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
